.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* margin-bottom: 10px; */
  }

.card-footer-align {
    flex: 1;
    position: absolute;
    bottom: 10px;
    right: 0px;
    left: 0px;
}

.text-muted-margin {
    margin-bottom: 10px;
}
.card-text {
    margin-bottom: 2rem;
}

.nav-link {
    /* text-decoration: underline; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 16px;
}

/* .nav-item-border {
    border-right: 1px solid gray;
} */

.btn {
    margin-right: 10px;
}

.footer-background {
    background-color: rgb(85, 89, 92);
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.jumbotron-cover {
    padding-top: 6rem;
    padding-bottom: 6rem;
    /* color: #fff; */
    /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5); */
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-color: #333;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /* font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; */
}

.cover-text {
    color: #fff;
    background-color: #333;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.jumbotron-h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}

.cover-card-container {
    padding-top: 3rem;
}

.cover-card-link, .cover-card-link:hover, .cover-card-link:visited, .cover-card-link:active {
    text-decoration: none;
    color: inherit;
}

.cover-card:hover {
    transform: scale(1.02) translate(0, -10px);
}

#navbarDropdownMenuLink {
    /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
    border: 1px solid #fff;
    color: #fff;
}

.nav-item {
    padding: 0px 10px;
    /* border-left: 1px solid gray;
    border-right: 1px solid gray; */
}

.col-md-4 {
    margin-bottom: 2rem;
}

.blog-heading {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    text-align: left;
}

.block-quote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid;
    font-weight: 100;
    font-size: 20px;
    text-align: left;
}

.block-quote2 {
    position: relative;
    padding-left: 1em;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    background-color: #f8f9fa;
}

.blog-text {
    text-align: justify;
}

.facebookimgli {
    display: inline-block;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

footer {
    padding: 16px;
}

.facebookimgli img {
    max-width: 35px;
}

@media only screen and (max-width: 767px) {
    .facebookimglivis {
        visibility:visible !important;
        display: block !important;
        float: left !important;
        margin-right: 10px;
        max-width: 40px !important;
    }

    .listdeskmar > li {
        border-bottom: 0px !important;
    }
}

@media only screen and (min-width: 767px) and (max-width:991px) {
    .facebookimglivis {
        visibility:visible !important;
        display: block !important;
        float: left !important;
        margin-right: 10px;
        max-width: 40px !important;
    }

    .listdeskmar > li {
        border-bottom: 0px !important;
    }
}

.content {
    padding: 0px 15px; 
}

footer img {
    max-width: 30px;
    height: auto;
    float: right;
}

.footerLogo {
    padding-right: 30px;
    box-sizing: inherit;
}

footer ul li a:hover, footer ul li a:focus {
    color: white;
}

footer .specs-divider {
    color: #B1C0C6;
    font-size: 80%;
    vertical-align: middle;
    opacity: 0.8;
}

.alert {
    margin-bottom: 0px;
}

.policy-alert {
    position: relative;
    width: 100%;
    height: auto;
    background: #CFF3F9;
    border: 1px solid #45A5B5;
    font-size: 14px;
    color: #080808;
    box-sizing: border-box;
    padding: 10px;
    font: inherit;
}

.policy-alert-icon {
    position: absolute;
    top: 7px;
    left: 13px;
}

.policy-alert-icon svg {
    fill: #45a5b5;
}

.policy-alert span {
    display: inline-block;
    padding-left: 45px;
    box-sizing: border-box;
    padding-right: 36px;
}

.close.policy {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    color: #080808;
    filter: alpha(opacity=20);
    opacity: 1;
    text-shadow: none;
    margin-left: 10px;
    padding: 0;
}

.policy-alert span a {
    font-weight: 700;
    color: #080808;
    text-decoration: underline;
}