@charset "UTF-8"; /* CSS Instructor Catalog Overrides */
html {
    scroll-behavior: smooth;
}

/* Global */
a:hover, a:focus {
    cursor: pointer;
}

.digital-list-item img:hover, .digital-list-item img:focus {
    opacity: 1 !important;
}

.btn.btn-white, a.btn.btn-white {
    border-radius: 3px !important;
}

.btn-link::after {
    content: none !important;
    display: none;
}

.breadcrumb {
    margin-bottom: 0 !important;
    font-size: 90%;
    border-bottom: solid 1px #eef2f3;
}

.small {
    font-size: 80% !important;
}

#home-search-box ul.search-results {
    box-shadow: 0px 10px 10px rgba(20, 43, 53, 0.2) !important;
}

.bar {
    height: 2px !important;
    margin: 16px auto !important;
}

.container-margin {
    margin-top: 36px;
    margin-bottom: 48px;
}

#headernav .navbar-nav li .banner__component.banner {
    border-left-color: #021018 !important;
}

.instsigninbtn {
    border-left-color: #021018 !important;
}

/* Home */
.collapsed .bottom:after {
    z-index: -1;
    position: relative;
}

#single-search h1 {
    text-shadow: 1px 1px 0px #a2d6de, 3px 3px 0px rgba(94, 172, 189, 0.8) !important;
    margin-bottom: 10px !important;
    position: relative;
    -webkit-animation-name: opener;
    -webkit-animation-duration: 1s;
    animation-name: opener;
    animation-duration: 1s;
    margin-top: 48px !important;
}

@-webkit-keyframes opener {
    0% {
        top: -150px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes opener {
    0% {
        top: -150px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

#home-search-box {
    box-shadow: 0 10px 35px #5aa5b6 !important;
    border: none !important;
}

/* Search Results */
.list-digital {
    border-top: none !important;
}

/* Discipline */
.list-digital .specs-divider {
    visibility: hidden;
}

/* Product */
.product-price {
    text-align: right !important;
}

.studentBuyRent a.accordion-toggle .expand-plus-caret-down {
    margin-left: -16px !important;
}

#instructor .panel-price .panel-heading .parent-label {
    margin-left: 16px !important;
}

#instructor #product-tabs .panel-body p.description, .panel-default.panel-price .panel-body p {
    margin-left: 16px !important;
}

.rental-period label {
    margin-left: 16px !important;
}

.rental-period label.radio span {
    margin-left: 0 !important;
}

#instructor #product-tabs .btn {
    border-radius: 3px !important;
}

.preview-content-inner {
    background: #f8fafa !important;
}

.preview-content-margin {
    background: #f8fafa !important;
    padding-bottom: 10% !important;
}

#preview-reviews .col-md-6 {
    width: 100% !important;
}

.section-title {
    letter-spacing: 1px !important;
    font-weight: 400 !important;
}

.resource-entry a.link-light {
    color: #00758E !important;
}

#resources_college a.link-light svg {
    fill: #080808 !important;
}

.white-type, .white-type h6 {
    color: white !important;
}

/* My Account */
.myaccount_orders, .ordershistory {
    margin-bottom: 10px !important;
}

/* Find Rep */
#find-rep ul li {
    padding: 8px 0 !important;
}

#find-rep .light-tab-section {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Microsite */
.microsite-wrapper {
    background: #f8fafa;
}

.microsite-content {
    min-height: 100vh !important;
    height: 100% !important;
    background: white !important;
    overflow: visible;
}

.microsite-wrapper, .full-page .row-fluid {
    width: 100% !important;
}

.microsite-content h1 {
    font-size: 2.75em !important;
    line-height: 1.2;
    margin-bottom: 5px;
}

.microsite-content h2 {
    color: inherit !important;
    font-weight: 700;
    font-size: 1.625em !important;
}

.microsite-content h3 {
    font-size: 1.25em !important;
}

.subhead {
    margin-bottom: 24px !important;
}

.microsite-content .copyText p {
    margin: 10px auto 20px !important;
    max-width: 740px;
}

.microsite-content .copyText ul {
    max-width: 740px;
    margin: auto;
}

.microsite-content .copyText p.lead, .microsite-content p.lead {
    font-size: 1.2em !important;
}

.microsite-content img {
    margin-bottom: 16px !important;
}

#no-image {
    height: 0 !important;
    margin-bottom: 0 !important;
}

#image-filter {
    -webkit-filter: contrast(90%) brightness(110%) saturate(130%) hue-rotate(-10deg);
    filter: contrast(90%) brightness(110%) saturate(130%) hue-rotate(-10deg);
    position: relative;
}

.full-page, .microsite-full-height {
    min-height: 100% !important;
}

.microsite-full-height {
    padding: 3% 2% 4%!important;
}

.image-column-centered, .copy-column-centered, .microsite-full-centered {
    padding: 10%;
    position: relative !important;
    overflow: visible;
}

.microsite-full-centered {
    padding: 4% !important;
    top: 0% !important;
    left: 0% !important;
    transform: translate(0%, 0%) !important;
}

.microsite-full-centered h1, .microsite-full-centered h2, .microsite-full-centered h3, .microsite-full-centered h4, .microsite-full-centered h5, .microsite-full-centered h6, .microsite-full-centered p, .microsite-full-centered ul, .microsite-full-centered ul li, .microsite-full-centered ol li, .microsite-full-centered .copytext, .microsite-full-centered blockquote {
    max-width: 740px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.microsite-full-centered h2 {
    font-size: 1.8em !important;
}

.video-column-centered {
    position: relative !important;
    padding-bottom: 56.25% !important;
    /* 16:9 */
    padding-top: 25px !important;
    height: 0 !important;
}

.video-column-centered iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 5% !important;
}

.videoWrapper {
    position: relative !important;
    padding-bottom: 56.25% !important;
    /* 16:9 */
    padding-top: 25px !important;
    height: 0 !important;
}

.videoWrapper iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 5% !important;
}

.embedWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.embedWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-article-link {
    color: #080808 !important;
}

.news-article-link-light {
    color: #ffffff !important;
}

.microsite-full-centered h1 span.microsite-page-header {
    text-align: left;
}

/* Side Nav */
.side-nav-link {
    min-height: 100vh !important;
    height: 100% !important;
    overflow: visible;
}

.side-nav-link, .side-nav-link a.list-group-item {
    width: 100% !important;
    border-top: none;
    border-right: none;
    border-left: none;
}

.side-nav-link a.list-group-item {
    border-bottom: solid 1px #cfd8dc !important;
}

.side-nav-link a:active {
    background: #142a35;
    color: white;
}

.sidenav-menu-toggle, input#drop {
    display: none;
}

.side-nav-link {
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
    z-index: 2;
    min-height: 100vh !important;
    height: 100% !important;
    overflow: visible;
}

.side-nav-link:after {
    content: "";
    display: table;
    clear: both;
}

.side-nav-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.side-nav-link ul li {
    margin: 0px;
    display: block;
    background-color: #eef2f3;
}

.side-nav-link a {
    display: block;
    color: #080808;
    text-decoration: none;
}

.side-nav-link ul li ul li:hover, .side-nav-link ul li ul li:focus {
    background: #142a35;
    color: white;
}

.side-nav-link a:hover, .side-nav-link a:focus {
    background-color: #142a35;
    color: white;
}

.side-nav-link ul ul {
    display: none;
    position: absolute;
}

.side-nav-link ul li:hover > ul, .side-nav-link ul li:focus > ul {
    display: inherit;
}

.microsite-spacing-right .list-group {
    margin-bottom: 0px;
}

/* Microsite - Image / Copy */
.copy-column, .image-column {
    min-height: 100% !important;
}

/* Microsite - TOC - Plus / Minus */
.microsite-wrapper .layer-light-align {
    margin-bottom: 0 !important;
    padding: 50px 48px 100px 48px !important;
}

.digital-offerings p {
    margin-left: 0 !important;
    font-size: 0.9em;
}

.digital-offerings .digital-icon {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

.digital-offerings li ul li {
    border-top: 0 !important;
}

.decor-line {
    background: transparent !important;
    height: 0 !important;
}

.bfw-btn-main, .bfw-btn-sub, .bfw-btn-main-small, .bfw-btn-sub-small, .bfw-btn-branded, .bfw-btn-branded-small {
    background: inherit !important;
    text-shadow: none !important;
    border-radius: 3px !important;
    display: inline-block !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 14px !important;
    height: 40px !important;
    line-height: 39px !important;
    padding: 0 15px !important;
    margin: 0 !important;
    border: none !important;
}

/* Microsite - TOC - Expand / Collapse */
.multi-level-menu input[type=checkbox]:checked ~ ul {
    padding-bottom: 10px !important;
}

.multi-level-menu input[type=checkbox] ~ ul {
    overflow: hidden !important;
}

.multi-level-menu li {
    min-height: 100%;
    padding: 10px 10px 0px 10px !important;
    margin: 12px 10px 0px !important;
}

.multi-level-menu li ul li {
    min-height: 100%;
    padding: 0px 10px 10px !important;
    margin: 0 10px !important;
}

.multi-level-menu p {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.multi-level-menu label {
    padding: 0 0 5px !important;
    padding-left: 25px !important;
}

.download-toc-arrow img {
    max-width: 24px !important;
    margin: 0 5px 0 !important;
}

/* Microsite - Three Column */
.microsite-full-height-inner .row-fluid .col-lg-4 h1 {
    font-size: 1.8em !important;
}

.microsite-full-height-inner .row-fluid .col-lg-4 h2 {
    font-size: 1.4em !important;
}

.microsite-full-height-inner .row-fluid .col-lg-4 iframe {
    min-height: 180px;
    margin-bottom: 24px;
}

.microsite-full-height-inner a.btn {
    margin-bottom: 16px !important;
}

/* Digital Microsite */
/* Digital Microsite Login Page */
.digital-homepage {
    background: linear-gradient(145deg, #0f222c 25%, #205460) !important;
    min-height: 100vh !important;
    background-size: 200% 200% !important;
    -webkit-animation: digitalbkgd 12s ease infinite;
    -moz-animation: digitalbkgd 12s ease infinite;
    animation: digitalbkgd 12s ease infinite;
}

@-webkit-keyframes digitalbkgd {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes digitalbkgd {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes digitalbkgd {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.digital-header h1 img, .digital-header h1 {
    -webkit-animation-name: headerlogo;
    -webkit-animation-duration: 1s;
    animation-name: headerlogo;
    animation-duration: 1s;
    position: relative;
}

@-webkit-keyframes headerlogo {
    0% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes headerlogo {
    0% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

.digital-header h2 {
    -webkit-animation-name: tagline;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: tagline;
    animation-duration: 1s;
    position: relative;
    font-size: 2.125em !important;
    line-height: 1.1 !important;
}

@-webkit-keyframes tagline {
    0% {
        right: -200px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes tagline {
    0% {
        right: -200px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

.btn-xl {
    line-height: 54px !important;
    padding-left: calc(1440px * (1 / 48)) !important;
    padding-right: calc(1440px * (1 / 48)) !important;
}

.digital-header {
    color: white !important;
}

.digital-header h1 {
    font-weight: 900 !important;
    line-height: 1.2 !important;
    font-size: 3.5em !important;
}

.digital-header h2 {
    font-size: 2em !important;
}

.column-login {
    background: white !important;
}

.digital-login h2 {
    margin-top: 16px !important;
}

.digital-login {
    background: white !important;
    padding-left: calc(1440px * (1 / 48));
    padding-right: calc(1440px * (1 / 48));
    border-radius: 6px;
    max-width: 480px;
    margin: auto;
}

.digital-login .list-group-item {
    border-color: #eef2f3 !important;
    margin-bottom: 0 !important;
}

.digital-login a.list-group-item {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding: 10px 5px !important;
}

#digital-logo-login {
    max-width: 80% !important;
    margin-bottom: 24px !important;
}

.copy-column-60 {
    width: 60% !important;
}

.copy-column-40 {
    width: 40% !important;
}

.screen-bkgd {
    padding: calc(1440px * (1 / 70));
    position: relative;
}

.screen-bkgd-mobile {
    padding: calc(1440px * (1 / 36));
}

.screen-border {
    box-shadow: -5px 10px 30px -10px rgba(20, 42, 53, 0.4);
    border: solid 10px #ffffff;
    border-radius: 6px;
}

.screen-border-mobile {
    box-shadow: -5px 10px 30px -10px rgba(20, 42, 53, 0.4);
}

.fullscreen-icon {
    display: inline-block;
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.imagebox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(20, 42, 53, 0.7);
}

.imagebox img {
    max-width: 85%;
    max-height: 80%;
    top: 5%;
    left: 25%;
    transform: translate(-25%, 0%) !important;
    box-shadow: -5px 10px 30px -10px rgba(0, 0, 0, 0.7);
    position: relative;
}

.imagebox-close {
    padding: 8px;
    float: right;
    fill: white;
}

.imagebox img:hover {
    opacity: 1;
}

.imagebox:target {
    outline: none;
    display: block;
}

.partner-logo {
    padding: 0 48px !important;
    max-width: 240px;
    margin: auto;
}

#infographic-icon-100 {
    max-width: 100px;
}

#infographic-icon-110 {
    max-width: 90px !important;
    margin-top: 24px;
}

#infographic-icon-110-shadow {
    max-width: 70px !important;
    margin-top: 0 !important;
    border-radius: 50%;
}

#infographic-icon-140 {
    max-width: 140px !important;
    border-radius: 50%;
    box-shadow: -5px 5px 10px -10px #205460;
}

.deco-outer-circle {
    height: 38px;
    width: 38px;
    display: block;
    border-radius: 50%;
    padding: 3px;
    margin: 10px 0;
    background: #da1b2c;
    background: linear-gradient(45deg, #ef5656, #da1b2c 30%, #45a5b5 70%, #a2d6dd) !important;
}

.deco-inner-circle {
    height: 32px;
    width: 32px;
    display: block;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-weight: 600;
    background: #0f222c;
    text-shadow: none;
    box-shadow: none;
    border: none;
    line-height: 30px;
}

.deco-icon-small {
    height: 40px;
    width: 40px;
    display: block-inline;
    margin-top: 5px;
}

#deco-icon {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    display: block !important;
}

#deco-icon-social {
    height: 50px !important;
    width: 50px !important;
    display: inline-block !important;
    margin-right: 10px;
}

.deco-icon-offerings {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    display: block !important;
    padding: 16px;
}

#deco-icon-achieve {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #3192d3;
    background: linear-gradient(-10deg, #6cb5ff, #3192d3, #006eb8) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

.text-achieve {
    color: #b0daff !important;
}

#deco-icon-launchpad {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #d91c2c;
    background: linear-gradient(-10deg, #ef5656, #d91c2c, #a51426) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

.text-launchpad {
    color: #ffafaf !important;
}

#deco-icon-sapling {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #68b75f;
    background: linear-gradient(-10deg, #68b75f, #3b822e) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

.text-sapling {
    color: #acdba2 !important;
}

#deco-icon-iolab {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: linear-gradient(-10deg, #d91c2c, #a51426) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-writershelp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: linear-gradient(-10deg, #003955, #005781) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-writerkey {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: linear-gradient(-10deg, #5fb79c, #008177) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-flipit {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: linear-gradient(-10deg, #3192d2, #005a9e) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-iclicker {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: linear-gradient(-10deg, #47bdff, #0092e4) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-ourstory {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-top: 16px;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-contactus {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #a2d6dd;
    background: linear-gradient(145deg, #ef5656, #da1b2c 30%, #45a5b5 70%, #a2d6dd) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-ml {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #a2d6dd;
    background: linear-gradient(145deg, #ef5656, #da1b2c 30%, #45a5b5 70%, #a2d6dd) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-mdi {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    padding: 16px;
    margin-top: 16px;
    background: #142a35;
    box-shadow: -5px 5px 10px -10px #205460;
    margin: auto;
}

#deco-icon-curriculum {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: linear-gradient(-10deg, #45a5b5, #205460) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

#deco-icon-admin {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
}

#deco-icon-lms {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 6px;
    margin-top: 16px;
    background: #a2d6dd;
    background: linear-gradient(145deg, #99506e, #663366) !important;
    box-shadow: -5px 5px 10px -10px #205460;
    margin: auto;
}

#deco-icon-access {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #ffc196;
    background: linear-gradient(145deg, #45a5b5, #205460) !important;
    box-shadow: -5px 5px 10px -10px #205460;
    margin: auto;
}

#deco-icon-lab-solutions {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin-top: 16px;
    background: #253d97;
    background: linear-gradient(-10deg, #7c8bc1, #253d97) !important;
    box-shadow: -5px 5px 10px -10px #205460;
}

/* Infographics */
.copy-column-70 {
    width: 70% !important;
}

.copy-column-30 {
    width: 30% !important;
}

.highlight {
    background: #faf2a9;
    padding: 0 2px;
    color: #080808 !important;
}

/* Colors */
.pale-gray {
    background: #eef2f3 !important;
}

.light-gray {
    background: #CFD8DC !important;
}

.white {
    background: #ffffff !important;
}

.yellow {
    background: #e5d676 !important;
}

.pale-blue {
    background: #e0f1ff !important;
}

.light-blue {
    background: #b0daff !important;
}

.blue {
    background: #3192d3 !important;
}

.pale-pink {
    background: #ffe7e5 !important;
}

.light-pink {
    background: #ffafaf !important;
}

.red {
    background: #ef5656 !important;
}

.pale-green {
    background: #daf4d4 !important;
}

.light-green {
    background: #acdba2 !important;
}

.green {
    background: #68b75f !important;
}

.pale-orange {
    background: #ffe5d3 !important;
}

.light-orange {
    background: #ffc196 !important;
}

.orange {
    background: #ff8a57 !important;
}

.pale-teal {
    background: #dbfff3 !important;
}

.light-teal {
    background: #aee5d3 !important;
}

.teal {
    background: #5fb79c !important;
}

.pale-aqua {
    background: #cff3f9 !important;
}

.light-aqua {
    background: #a2d6dd !important;
}

.aqua {
    background: #45a5b5 !important;
}

.light-purple {
    background: #e0e0ee !important;
}

.purple {
    background: #663366 !important;
}

.magenta {
    background: #b26487 !important;
}

.left-quotemark {
    font-size: 7em;
    line-height: 0;
    margin-top: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

/* Numbers */
.number-sm, .number-md, .number-lg, .number-xl {
    line-height: 1;
    margin-bottom: 0;
}

.number-sm {
    font-size: 2em !important;
    font-weight: 600;
}

.number-md {
    font-size: 4em !important;
    font-weight: 700;
}

.number-lg {
    font-size: 6em !important;
    font-weight: 700;
}

.number-xl {
    font-size: 8em !important;
    font-weight: 300;
}

/* Pie Charts */
.pie-base {
    position: absolute;
    top: 0px;
    left: 0px;
}

.pie-xl, .pie-lg, .pie-md, .pie-sm {
    margin: auto;
    margin-bottom: 16px;
}

/* Pie Base XL */
.pie-center-xl {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 40px;
    left: 40px;
    border-radius: 220px;
    background-color: rgb(255, 255, 255);
}

.pie-center-xl .pie-number-xl {
    position: relative;
    font-size: 5em;
    text-align: center;
    line-height: 220px;
}

.pie-xl {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 300px;
    background-color: rgb(238, 242, 243);
}

.pie-base-xl {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border-radius: 300px;
}

.pie-base-xl-5 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(18deg);
}

.pie-base-xl-10 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(36deg);
}

.pie-base-xl-15 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(54deg);
}

.pie-base-xl-20 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(72deg);
}

.pie-base-xl-25 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(90deg);
}

.pie-base-xl-30 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(108deg);
}

.pie-base-xl-35 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(126deg);
}

.pie-base-xl-40 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(144deg);
}

.pie-base-xl-45 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(162deg);
}

.pie-base-xl-50 {
    clip: rect(0px, 300px, 300px, 150px);
    transform: rotate(180deg);
}

/* Pie Fill XL */
.pie-fill-xl {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    border-radius: 300px;
}

.pie-fill-xl-5 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(18deg);
}

.pie-fill-xl-10 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(36deg);
}

.pie-fill-xl-15 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(54deg);
}

.pie-fill-xl-20 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(72deg);
}

.pie-fill-xl-25 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(90deg);
}

.pie-fill-xl-30 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(108deg);
}

.pie-fill-xl-35 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(126deg);
}

.pie-fill-xl-40 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(144deg);
}

.pie-fill-xl-45 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(162deg);
}

.pie-fill-xl-50 {
    clip: rect(0px, 150px, 300px, 0px);
    transform: rotate(180deg);
}

/* Pie Base LG */
.pie-center-lg {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 160px;
    background-color: rgb(255, 255, 255);
}

.pie-center-lg .pie-number-lg {
    position: relative;
    font-size: 4em;
    text-align: center;
    line-height: 160px;
}

.pie-lg {
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 220px;
    background-color: rgb(238, 242, 243);
}

.pie-base-lg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 220px;
    border-radius: 220px;
}

.pie-base-lg-5 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(18deg);
}

.pie-base-lg-10 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(36deg);
}

.pie-base-lg-15 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(54deg);
}

.pie-base-lg-20 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(72deg);
}

.pie-base-lg-25 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(90deg);
}

.pie-base-lg-30 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(108deg);
}

.pie-base-lg-35 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(126deg);
}

.pie-base-lg-40 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(144deg);
}

.pie-base-lg-45 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(162deg);
}

.pie-base-lg-50 {
    clip: rect(0px, 220px, 220px, 110px);
    transform: rotate(180deg);
}

/* Pie Fill lg */
.pie-fill-lg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 220px;
    border-radius: 220px;
}

.pie-fill-lg-5 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(18deg);
}

.pie-fill-lg-10 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(36deg);
}

.pie-fill-lg-15 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(54deg);
}

.pie-fill-lg-20 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(72deg);
}

.pie-fill-lg-25 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(90deg);
}

.pie-fill-lg-30 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(108deg);
}

.pie-fill-lg-35 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(126deg);
}

.pie-fill-lg-40 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(144deg);
}

.pie-fill-lg-45 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(162deg);
}

.pie-fill-lg-50 {
    clip: rect(0px, 110px, 220px, 0px);
    transform: rotate(180deg);
}

/* Pie Base MD */
/* Pie Base MD */
.pie-center-md {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 120px;
    background-color: rgb(255, 255, 255);
}

.pie-center-md .pie-number-md {
    position: relative;
    font-size: 3em;
    text-align: center;
    line-height: 120px;
}

.pie-md {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 180px;
    background-color: rgb(238, 242, 243);
}

.pie-base-md {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 180px;
    border-radius: 180px;
}

.pie-base-md-5 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(18deg);
}

.pie-base-md-10 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(36deg);
}

.pie-base-md-15 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(54deg);
}

.pie-base-md-20 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(72deg);
}

.pie-base-md-25 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(90deg);
}

.pie-base-md-30 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(108deg);
}

.pie-base-md-35 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(126deg);
}

.pie-base-md-40 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(144deg);
}

.pie-base-md-45 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(162deg);
}

.pie-base-md-50 {
    clip: rect(0px, 180px, 180px, 90px);
    transform: rotate(180deg);
}

/* Pie Fill md */
.pie-fill-md {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 180px;
    border-radius: 180px;
}

.pie-fill-md-5 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(18deg);
}

.pie-fill-md-10 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(36deg);
}

.pie-fill-md-15 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(54deg);
}

.pie-fill-md-20 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(72deg);
}

.pie-fill-md-25 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(90deg);
}

.pie-fill-md-30 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(108deg);
}

.pie-fill-md-35 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(126deg);
}

.pie-fill-md-40 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(144deg);
}

.pie-fill-md-45 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(162deg);
}

.pie-fill-md-50 {
    clip: rect(0px, 90px, 180px, 0px);
    transform: rotate(180deg);
}

/* Pie Base SM */
.pie-center-sm {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
}

.pie-center-sm .pie-number-sm {
    position: relative;
    font-size: 2em;
    text-align: center;
    line-height: 100px;
}

.pie-sm {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 140px;
    background-color: rgb(238, 242, 243);
}

.pie-base-sm {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

.pie-base-sm-5 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(18deg);
}

.pie-base-sm-10 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(36deg);
}

.pie-base-sm-15 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(54deg);
}

.pie-base-sm-20 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(72deg);
}

.pie-base-sm-25 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(90deg);
}

.pie-base-sm-26 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(94deg);
}

.pie-base-sm-30 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(108deg);
}

.pie-base-sm-35 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(126deg);
}

.pie-base-sm-40 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(144deg);
}

.pie-base-sm-45 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(162deg);
}

.pie-base-sm-50 {
    clip: rect(0px, 140px, 140px, 70px);
    transform: rotate(180deg);
}

/* Pie Fill sm */
.pie-fill-sm {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    border-radius: 140px;
}

.pie-fill-sm-5 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(18deg);
}

.pie-fill-sm-10 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(36deg);
}

.pie-fill-sm-15 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(54deg);
}

.pie-fill-sm-20 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(72deg);
}

.pie-fill-sm-25 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(90deg);
}

.pie-fill-sm-26 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(92deg);
}

.pie-fill-sm-30 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(108deg);
}

.pie-fill-sm-35 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(126deg);
}

.pie-fill-sm-40 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(144deg);
}

.pie-fill-sm-45 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(162deg);
}

.pie-fill-sm-50 {
    clip: rect(0px, 70px, 140px, 0px);
    transform: rotate(180deg);
}

/* Pie Colors */
.pie-gray {
    background: #eef2f3;
}

.pie-blue {
    background: linear-gradient(141deg, #75bffc 0%, #6cb5ff 51%, #409bde 75%);
}

.pie-green {
    background: linear-gradient(141deg, #79b770 0%, #68b75f 51%, #3b822e 75%);
}

.pie-red {
    background: linear-gradient(141deg, #ef5656 0%, #DA1C3A 51%, #991029 90%);
}

.pie-teal {
    background: #45a5b5;
}

/* Pie Animation */
.pie-center-xl, .pie-center-lg, .pie-center-md, .pie-center-sm {
    transition: transform 0.5s;
}

.pie-center-xl:hover, .pie-center-lg:hover, .pie-center-md:hover, .pie-center-sm:hover {
    transform: scale(1.2);
}

/* Slider */
.ml-slider {
    text-align: center;
    margin: auto !important;
    max-width: 480px;
    border: solid 2px #eef2f3;
    margin-right: 16px;
    box-shadow: 0px 2px 10px #c9d4d8;
}

.ml-slider input[type=radio] {
    display: none !important;
}

#slide1:checked ~ .ml-slides .slides-inner {
    margin-left: 0;
}

#slide2:checked ~ .ml-slides .slides-inner {
    margin-left: -100%;
}

#slide3:checked ~ .ml-slides .slides-inner {
    margin-left: -200%;
}

#slide4:checked ~ .ml-slides .slides-inner {
    margin-left: -300%;
}

#slide5:checked ~ .ml-slides .slides-inner {
    margin-left: -400%;
}

#slide6:checked ~ .ml-slides .slides-inner {
    margin-left: -500%;
}

#slide7:checked ~ .ml-slides .slides-inner {
    margin-left: -600%;
}

#slide8:checked ~ .ml-slides .slides-inner {
    margin-left: -700%;
}

#slide9:checked ~ .ml-slides .slides-inner {
    margin-left: -800%;
}

#slide10:checked ~ .ml-slides .slides-inner {
    margin-left: -900%;
}

#slide11:checked ~ .ml-slides .slides-inner {
    margin-left: -1000%;
}

#slide12:checked ~ .ml-slides .slides-inner {
    margin-left: -1100%;
}

#slide13:checked ~ .ml-slides .slides-inner {
    margin-left: -1200%;
}

#slide14:checked ~ .ml-slides .slides-inner {
    margin-left: -1300%;
}

#slide15:checked ~ .ml-slides .slides-inner {
    margin-left: -1400%;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

.ml-slides article img {
    width: 100%;
    max-width: 480px;
}

.ml-slides .slides-inner {
    width: 1300%;
    line-height: 0;
}

.ml-slides article {
    width: 7.6923073639230%;
    float: left;
}

#controls {
    height: 50px;
    background: #eef2f3;
    display: block;
    margin-top: 0;
    padding: 12px !important;
}

#controls label {
    display: none;
    height: 40px;
}

#active label:hover {
    background: #eef2f3;
    border-color: #eef2f3 !important;
}

#controls label:hover {
    opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4), #slide4:checked ~ #controls label:nth-child(5), #slide5:checked ~ #controls label:nth-child(6), #slide6:checked ~ #controls label:nth-child(7), #slide7:checked ~ #controls label:nth-child(8), #slide8:checked ~ #controls label:nth-child(9), #slide9:checked ~ #controls label:nth-child(10), #slide10:checked ~ #controls label:nth-child(11), #slide11:checked ~ #controls label:nth-child(12), #slide12:checked ~ #controls label:nth-child(13), #slide13:checked ~ #controls label:nth-child(14), #slide14:checked ~ #controls label:nth-child(15), #slide9:checked ~ #controls label:nth-child(1) {
    background: url('https://prod-cat-files.macmillan.cloud/MediaResources/instructorcatalog/college/digital/digital-icons/svg/chevron_right.svg') no-repeat;
    float: right;
    display: block;
}

#slide1:checked ~ #controls label:nth-child(15), #slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3), #slide5:checked ~ #controls label:nth-child(4), #slide6:checked ~ #controls label:nth-child(5), #slide7:checked ~ #controls label:nth-child(6), #slide8:checked ~ #controls label:nth-child(7), #slide9:checked ~ #controls label:nth-child(8), #slide10:checked ~ #controls label:nth-child(9), #slide11:checked ~ #controls label:nth-child(10), #slide12:checked ~ #controls label:nth-child(11), #slide13:checked ~ #controls label:nth-child(12), #slide14:checked ~ #controls label:nth-child(13), #slide15:checked ~ #controls label:nth-child(14) {
    background: url('https://prod-cat-files.macmillan.cloud/MediaResources/instructorcatalog/college/digital/digital-icons/svg/chevron_left.svg') no-repeat;
    float: left;
    display: block;
}

.ml-slides {
    margin: 0;
    padding: 1%;
    background: #fff;
}

#controls label {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .col-m-flex {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .col-m-flex > * {
        -webkit-flex: 1;
        flex: 1;
    }

    .col-m-flex > div {
        -webkit-flex: 3;
        flex: 3;
        margin: 16px;
    }
}

@media screen and (max-width: 991px) {
    .image-column, .copy-column {
        margin-top: -1px;
    }

    .digital-login {
        background: white;
        padding-left: calc(1440px * (1 / 60));
        padding-right: calc(1440px * (1 / 60));
        border-radius: 6px;
        max-width: 100%;
        width: 100%;
        margin: auto;
    }

    #no-image {
        margin-top: 24px !important;
    }

    #infographic-icon-110-shadow {
        margin-top: 24px !important;
    }

    .microsite-wrapper, .full-page {
        width: 100% !important;
        float: none !important;
    }

    .microsite-spacing-right .list-group {
        margin-bottom: 24px !important;
    }

    .copy-column-75, .copy-column-70, .copy-column-25, .copy-column-60, .copy-column-40, .copy-column-30 {
        width: 100% !important;
    }

    .microsite-menu {
        margin-bottom: 36px !important;
    }

    .side-nav-link {
        margin: 0;
        min-height: 100% !important;
    }

    .sidenav-menu-toggle + a, .sidemenu {
        display: none;
    }

    .sidenav-menu-toggle {
        display: block;
        background-color: #eef2f3;
        color: #080808;
        text-decoration: none;
        border: none;
        padding: 14px 20px;
        margin-bottom: 0 !important;
    }

    .sidenav-menu-toggle:hover, .sidenav-menu-toggle:focus {
        background-color: #142a35;
        color: white;
    }

    input#drop:checked + ul {
        display: block;
    }

    .side-nav-link ul li {
        display: block;
        width: 100%;
    }

    .side-nav-link ul ul {
        float: none;
        position: static;
        color: #080808;
    }

    .side-nav-link ul ul li:hover > ul, .side-nav-link ul li:hover > ul {
        display: none;
    }

    .side-nav-link ul ul li {
        display: block;
        width: 100%;
    }

    .side-nav-link ul ul ul li {
        position: static;
    }

    .sidenav-menu-toggle + a, .sidemenu {
        width: 100%;
    }

    .row-fluid .span6 {
        width: 100% !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        float: none !important;
    }

    .embedWrapper {
        position: unset;
        padding-bottom: 0 !important;
        /* 16:9 */
        padding-top: 0 !important;
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .microsite-content .copyText {
        max-width: 740px;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .digital-login {
        max-width: 100%;
    }

    .digital-header {
        margin-left: 0;
    }

    .jumbotron .discipline-textbox h1 {
        font-size: 2.75em !important;
    }
}

@media only screen and (max-width: 767px) {
    .btn-xl {
        padding-left:auto !important;
        padding-right: auto !important;
    }

    .navbar-default .navbar-toggle {
        margin: 0 5px 5px !important;
        height: 100% !important;
        padding: 5px !important;
    }

    .navbar-toggle .icon-bar {
        margin: 5px auto !important;
    }

    #headernav ul.navbar-right {
        width: 100% !important;
        float: none !important;
    }

    .navbar-right > li > a, #headernav .navbar-right li .banner__component.banner, #headernav .navbar-right li .banner__component.banner, #headernav .navbar-right li .nav-cart {
        float: none !important;
    }

    #headernav .navbar-nav li .banner__component.banner, #headernav .navbar-nav li .nav-cart {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .navbar-right > li {
        border-top: 1px solid #455A64;
    }

    .navbar-right > li, .navbar-right > li > a {
        float: none !important;
        display: block !important;
        border-left: none !important;
    }

    #searchIconLink {
        padding-left: 16px !important;
    }

    .btn-xl {
        padding-left: auto !important;
        padding-right: auto !important;
    }

    #single-search h1 {
        font-size: 2.75em !important;
    }

    #homepage-course-callouts {
        margin-top: 0 !important;
    }

    .list-group#preview-tab {
        margin-right: 0 !important;
    }

    .list-group#preview-tab a {
        width: 100% !important;
    }

    #instructor #product-tabs .panel-body p.description {
        margin-left: 16px !important;
    }

    .studentBuyRent {
        padding: 0 !important;
    }

    .image-column-centered, .copy-column-centered, .microsite-full-centered {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .microsite-full-height {
        padding: 10% 0 !important;
    }

    .microsite-full-centered {
        padding: 10% 4% !important;
    }

    .digital-header h1 {
        font-size: 2.75em !important;
    }

    .microsite-wrapper .layer-light-align {
        padding: 10px;
    }

    .digital-offerings ul, .digital-offerings li {
        margin: 0 !important;
        padding: 0 !important;
    }

    .microsite-wrapper, .full-page {
        width: 100% !important;
        float: none !important;
    }

    .microsite-spacing-right .list-group {
        margin-bottom: 24px !important;
    }

    .copy-column-75, .copy-column-25 {
        width: 100%;
    }

    .microsite-menu {
        margin-bottom: 36px !important;
    }

    .side-nav-link {
        margin: 0;
        min-height: 100% !important;
    }

    .sidenav-menu-toggle + a, .sidemenu {
        display: none;
    }

    .sidenav-menu-toggle {
        display: block;
        background-color: #eef2f3;
        color: #080808;
        text-decoration: none;
        border: none;
        padding: 14px 20px;
        margin-bottom: 0 !important;
    }

    .sidenav-menu-toggle:hover, .sidenav-menu-toggle:focus {
        background-color: #142a35;
        color: white;
    }

    input#drop:checked + ul {
        display: block;
    }

    .side-nav-link ul li {
        display: block;
        width: 100%;
    }

    .side-nav-link ul ul {
        float: none;
        position: static;
        color: #080808;
    }

    .side-nav-link ul ul li:hover > ul, .side-nav-link ul li:hover > ul {
        display: none;
    }

    .side-nav-link ul ul li {
        display: block;
        width: 100%;
    }

    .side-nav-link ul ul ul li {
        position: static;
    }

    .sidenav-menu-toggle + a, .sidemenu {
        width: 100%;
    }

    .multi-level-menu label {
        padding: 3px !important;
    }

    .multi-level-menu li {
        min-height: 100%;
        padding: 10px 10px 10px 24px !important;
        margin: 12px 0 0px !important;
    }

    .multi-level-menu li ul li {
        min-height: 100%;
        padding: 0px !important;
        margin: 0 !important;
    }

    .microsite-full-centered h1 span.microsite-page-header {
        margin-top: 46px;
    }

    .order-thumbnail {
        margin-bottom: 16px;
    }

    /* Numbers */
    .number-sm {
        font-size: 1.75em !important;
        font-weight: 600;
    }

    .number-md {
        font-size: 3.25em !important;
        font-weight: 700;
    }

    .number-lg {
        font-size: 4em !important;
        font-weight: 700;
    }

    .number-xl {
        font-size: 6em !important;
        font-weight: 300;
    }

    .header_mobile_text {
        visibility: hidden !important;
    }

    .promo-alert {
        background: #dbfff3;
        background: linear-gradient(to right,#fffbd7,#dbfff3);
        border: none;
        text-align: center;
        padding: 16px;
        margin-top: -48px !important;
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}

@media all and (max-width : 330px) {
    .side-nav-link ul li {
        display: block;
        width: 100%;
    }
}

/* Promo */
.promo-alert {
    background: #dbfff3;
    background: linear-gradient(to right,#fffbd7,#dbfff3);
    border: none;
    text-align: center;
    padding: 10px;
    margin-top: -48px !important;
    margin-left: -48px;
    margin-right: -48px;
}
